# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/notes

# Docs
docs/

# Dotenv file
.env

.woke-build
.woke-logs
pytypes
__pycache__/
*.py[cod]
.hypothesis/
woke-coverage.cov